<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

    Your cart is empty! Perhaps you want to add something?
    <%= link_to 'Check out our snazzy products', :products %>
    <br/><br>
    <%= image_tag('/uploads/empty-cat.jpg', size: '600x400') %>




</section>
